<!-- app/views/users/new.html.erb -->

<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
<ul>

  <li>Name: <%= f.text_field :name %></li>
  <li>License Plate: <%= f.text_field :license_plate %></li>
  <li>Password: <%= f.password_field :password %></li>
  <li>Password Confirmation: <%= f.password_field :password_confirmation %></li>
  <li>Email: <%= f.text_field :email %></li>
  <li>Billing Address: <%= f.text_field :billing_address %></li>
  <li>Cardholder Name: <%= f.text_field :card_holder_name %></li>
  <li>Credit Card Number: <%= f.text_field :credit_card_number %></li>
  <li>Expiry Date: <%= f.text_field :expiry_date %></li>
  <li>CVC: <%= f.text_field :cvc %></li>
</ul>


  <%= f.submit "Submit" %>

<% end %>